.App {
  text-align: center;
  display: grid;
  height: 100vh;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 0.05fr auto 40px;
  grid-template-areas:
    "nav nav"
    "sidebar main"
    "footer footer";
}

.App p {
  font-size: 1rem;
}

.nav {
  @apply bg-green-900 flex flex-wrap justify-center;
  grid-area: nav;
}

.sidebar {
  grid-area: sidebar;
  @apply bg-green-100 flex flex-wrap justify-center;
}

.sidebar p {
  @apply font-normal tracking-normal md:font-bold md:tracking-wide;
}

.main {
  grid-area: main;
}

.main caption {
  @apply text-green-900 underline font-normal tracking-normal md:font-bold md:tracking-wide;
}

.footer {
  padding-left: 5px;
  @apply bg-emerald-300 flex flex-wrap content-center justify-center;
  grid-area: footer;
}

.footer a {
  padding-left: 20px;
  @apply flex flex-wrap content-center;
}

table {
  margin-left: auto;
  margin-right: auto;
  font-size: medium;
}

caption {
  margin-bottom: 0.5rem;
}

table,
th,
td {
  border: 1px solid;
  @apply border-green-600 border-opacity-25;
}

td {
  @apply bg-gradient-to-r hover:from-pink-500 hover:to-yellow-500 hover:text-white;
}

@media only screen and (max-width: 550px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 40px;
    grid-template-areas:
      "nav"
      "sidebar"
      "main"
      "footer";
  }
}

@media only screen and (max-width: 550px) {
  .sidebar {
    @apply flex-col justify-around;
  }
}

.App-logo-react {
  height: 25px;
  width: 25px;
  pointer-events: none;
}

.App-logo {
  height: 30px;
  width: 30px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo-react {
    animation: App-logo-react-spin infinite 20s linear;
  }
}

@keyframes App-logo-react-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}