.App {
  text-align: center;
  display: grid;
  height: 100vh;
  grid-template-columns: 125px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
}

.App p {
  font-size: 1rem;
}

.header {
  @apply bg-green-900 flex flex-wrap justify-center fixed inset-x-0 z-10;
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
  padding-top: 50px;
  padding-bottom: 50px;
  @apply bg-teal-100 flex flex-wrap justify-center;
}

.sidebar p {
  @apply font-normal tracking-normal md:font-bold md:tracking-wide;
}

.main {
  grid-area: main;
  padding-top: 50px;
  padding-bottom: 50px;
}

.main caption {
  @apply text-green-900 underline font-normal tracking-normal md:font-bold md:tracking-wide;
}

.footer {
  @apply text-white flex flex-wrap content-center justify-center fixed inset-x-0 bottom-0;
  grid-area: footer;
  background: linear-gradient(
    270deg,
    #009dba,
    #00bab4,
    #00ba72,
    #00ba30,
    #2bba00,
    #65ba00,
    #97ba00,
    #b0ba00,
    #baac00
  );
  background-size: 1800% 1800%;

  -webkit-animation: AnimationName 59s ease infinite;
  -moz-animation: AnimationName 59s ease infinite;
  -o-animation: AnimationName 59s ease infinite;
  animation: AnimationName 59s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.footer a {
  padding-left: 20px;
  @apply flex flex-wrap content-center;
}

.footer p {
  @apply flex flex-wrap content-center;
}

.footer-github {
  gap: 5px;
}

.footer-vercel {
  gap: 5px;
}

.icon-vercel {
  margin-top: auto;
  margin-bottom: auto;
  width: 20px;
  height: 20px;
}

.icon-click {
  margin-top: auto;
  margin-bottom: auto;
  width: 25px;
  height: 25px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

caption {
  margin-bottom: 0.5rem;
}

table,
th,
td {
  border: 1px solid;
  @apply border-green-600 border-opacity-25;
}

td {
  @apply bg-gradient-to-r hover:from-pink-500 hover:to-yellow-500 hover:text-white;
}

.App-logo-react {
  height: 25px;
  width: 25px;
  pointer-events: none;
}

.App-logo-redux {
  height: 25px;
  width: 25px;
  pointer-events: none;
  margin-bottom: 10px;
}

.App-logo-tailwind {
  height: 30px;
  width: 30px;
  pointer-events: none;
}

.App-logo-webpack {
  height: 30px;
  width: 30px;
  pointer-events: none;
  -webkit-animation: pulsing 5s infinite;
  animation: pulsing 5s infinite;
}

.App-logo {
  height: 30px;
  width: 30px;
  pointer-events: none;
}

.App-logo-pwa {
  height: 35px;
  width: 35px;
  pointer-events: none;
}

@media only screen and (max-width: 1360px) {
  table,
  th,
  td {
    font-size: 0.95vw;
  }
}

@media only screen and (max-width: 1110px) {
  .sidebar {
    padding-top: 100px;
    padding-bottom: 70px;
  }
  .main {
    padding-top: 100px;
    padding-bottom: 70px;
  }
}

@media only screen and (max-width: 585px) {
  .sidebar {
    padding-top: 120px;
    padding-bottom: 70px;
  }
  .main {
    padding-top: 120px;
    padding-bottom: 70px;
  }
}

@media only screen and (max-width: 550px) {
  .App {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "header"
      "sidebar"
      "main"
      "footer";
  }
  .sidebar {
    @apply flex-col justify-around;
    padding-top: 125px;
    padding-bottom: 0px;
  }
  .main {
    padding-top: 0px;
    padding-bottom: 90px;
  }
}

@media only screen and (max-width: 415px) {
  .sidebar {
    padding-top: 160px;
  }
  .main {
    padding-bottom: 110px;
  }
}

@media only screen and (max-width: 380px) {
  .sidebar {
    padding-top: 160px;
  }
  .main {
    padding-bottom: 140px;
  }
}

@media only screen and (max-width: 360px) {
  .sidebar {
    padding-top: 160px;
  }
  .main {
    padding-bottom: 140px;
  }
}

@media only screen and (max-width: 320px) {
  .sidebar {
    padding-top: 200px;
  }
  .main {
    padding-bottom: 150px;
  }
}

@media only screen and (max-width: 280px) {
  .sidebar {
    padding-top: 200px;
  }
  .main {
    padding-bottom: 150px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo-react {
    animation: App-logo-react-spin infinite 20s linear;
  }
}

@keyframes App-logo-react-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo-redux {
    animation: App-logo-redux-float infinite 3s ease-in-out;
  }
}

@keyframes App-logo-redux-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo-tailwind {
    animation: App-logo-tailwind-float infinite 3s ease-in-out;
  }
}

@keyframes App-logo-tailwind-float {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}
